<% if @friends %>
<div class="card card-header results-block">
    <% @friends.each do |friend| %>
        <strong>Name: </strong> <%= friend.full_name %>
        <strong>Email:</strong> <%= friend.email %>
       <%= link_to 'View Profile', '#', class: "btn btn-sm btn-success" %>
    <% if current_user.not_friends_with?(friend.id) %>
    <%= link_to 'Follow', friendships_path(friend: friend), class: "btn btn-sm btn-success", method: :post %>

    <% else %>
    <span class="badge badge-secondary">
    You are friends
    </span>
    <% end %>
<% end %>

</div>
<% end %>